<a href="#" class="delete-sweetalert" data-id="{{ profile.id }}" data-url="{{ path('profile_delete', {'id': profile.id}) }}">
    <button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="ri-delete-bin-line"></i></button>
</a>