{% extends 'base-dashboard.html.twig' %}

{% block title %}Manage my account{% endblock %}

{% block body %}
    <div class="browse-jobs-area-two pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center">
                <h2>My account management</h2>
                <div class="bar m-auto"></div>
            </div>
            <div class="row pt-45">
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-user-2-line jobs-card-bg6"></i>
                        <h3><a href="{{ path('account_edit') }}">Personal infos</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-lock-password-line jobs-card-bg5"></i>
                        <h3><a href="{{ path('app_password_user') }}">Reset my password</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-delete-bin-2-line jobs-card-bg4"></i>
                        <h3>
                            <a href="#" class="btn-confirm-sweetalert"
                               data-text="This action is irreversible"
                               data-icon="success"
                               data-title="Are you sure you want to delete your account and all your data?"
                               data-url="{{ path('account_delete', {'id': user.id}) }}"
                            >Delete my account</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
