<!-- Browse Jobs Area -->
<div class="browse-jobs-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Learn more about SDGs</h2>
            <div class="bar m-auto"></div>
            <p class="m-auto">17 goals to transform the world</p>
        </div>

        <div class="row pt-45 justify-content-center">
            <home-categories />
            <div class="col-lg-12 text-center">
                <div class="browse-btn">
                    <a href="{{ path('all_sdg') }}"> Browse All SDGs <i class="ri-arrow-right-s-line"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Browse Jobs Area End -->
