<div class="banner-area-two">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content-two">
                    <h1 class="wow fadeInLeft" data-wow-delay="000ms" data-wow-duration="1000ms">Looking for a project? Find the <b>Perfect one</b></h1>
                    <div class="banner-form-two wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1000ms">
                        <form action="{{ path('all_projects') }}" method="get">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input type="text" id="q" name="q" class="form-control form-control" placeholder="Keywords / Project Title">
                                        </div>
                                        <i class="ri-search-line"></i>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <button type="submit" class="submit-btn border-radius-5">Find Projects</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    {#<div class="popular-searches-tag wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1000ms">
                        <span class="title">Popular Searches : </span>
                        <a>SDG</a>,
                        <a>Development</a>,
                        <a>Digital</a>,
                        <a>Substainable</a>
                    </div>#}
                </div>
            </div>

            <div class="col-lg-6">
                <div class="banner-img-two">
                    {#<img src="{{ asset('images/banner.jpg') }}" alt="Banner Images" class="wow fadeInUp" data-wow-delay="000ms" data-wow-duration="1000ms">#}
                   <div class="banner-shape-two">

                        <div class="shape2 wow fadeInDown"  data-wow-delay="200ms" data-wow-duration="1000ms" style="z-index: 1; opacity: .5">
                           {# <img src="{{ asset('images/home-two/sdg-no-bg.png') }}" alt="" width="80%">#}
                        </div>
                        <div class="shape3 wow fadeInDown" data-wow-delay="300ms" data-wow-duration="1000ms">
                            {% include ('script/bee.html.twig') %}
                            {#<img src="{{ asset('images/banner.jpg') }}" alt="" width="80%">#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
