<!-- Recent Job Area Two -->
<div class="recent-job-area-two pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Last projects</h2>
            <div class="bar m-auto"></div>
            <p class="m-auto">We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</p>
        </div>

        <home-projects />
    </div>
</div>
<!-- Recent Job Area Two End -->
