<a href="#" class="delete-sweetalert" data-id="{{ dictionnaire.id }}" data-url="{{ path('dictionnaire_delete', {'id': dictionnaire.id}) }}">
    <button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="ri-delete-bin-line"></i></button>
</a>