.table > :not(:first-child) {
  border-top: 10px solid #ebebeb !important;
}

.invalid-feedback{
  margin-bottom: 30px;
  background-color: #f3ded8;
  border: none;
  padding: 20px;
  color: #c00d04;
  border-radius: 5px;
}

.alert{
  z-index: 999;
}

//switch login/register page

#log{
  display:block;
  width:320px;
  height: 345px;
  border-radius:5px;
  padding:5px;
  margin:10px;
  box-shadow:2px 2px 8px 5px grey;
}

.switch{
  display:none;
}

.freelancers-card{
  height: 200px;
}
.freelancers-card img {
  max-height: 80px !important;
}

//select2

.select2-container--default .select2-selection--multiple{
  background-color: transparent !important;
  border: none !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
  border: none !important;
}

//CkEditor

.cke_chrome {
  border: 1px solid whitesmoke !important;
}
.cke_tok {
  border: none !important;
}
.cke_bottom{
  border: none !important;
}

//button

.default-btn-red {
  padding: 12px 30px;
  color: var(--whiteColor);
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: capitalize;
  background-color: var(--redColor);
  border: none;
  outline: none;
  font-weight: 500;
}

//images

.sdg-icon{
  height: 60px;
}

.img-size{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.delete-image{
  background: white;
  border: none;
}

.delete-image-container{
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px
}

//Datatable
table.dataTable {
  border-collapse: collapse !important;
}

//checkbox input

.form-check-input[type=checkbox] {
  border-radius: 10px !important;
  border: 1px solid #ECEDF2;
}
