.table > :not(:first-child) {
  border-top: 10px solid #F39649 !important;
}

.invalid-feedback{
  margin-bottom: 30px;
  background-color: #f3ded8;
  border: none;
  padding: 20px;
  color: #c00d04;
  border-radius: 5px;
}

.alert{
  z-index: 999;
}

//switch login/register page

#log{
  display:block;
  width:320px;
  height: 345px;
  border-radius:5px;
  padding:5px;
  margin:10px;
  box-shadow:2px 2px 8px 5px grey;
}

.switch{
  display:none;
}

.freelancers-card img {
  max-height: 80px !important;
}

.select2-container--default .select2-selection--multiple{
  background-color: transparent !important;
  border: none !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
  border: none !important;
}
