{% extends 'base-dashboard.html.twig' %}

{% block title %}Edit Group{% endblock %}

{% block body %}

    <div class="post-a-new-job-box">
        <h3>Edit Group</h3>
        <div class="bar"></div>
        {{ include('group/_form.html.twig') }}
    </div>

{% endblock %}
