<a href="#" class="delete-sweetalert" data-id="{{ categorie.id }}" data-url="{{ path('categorie_delete', {'id': categorie.id}) }}">
    <button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="ri-delete-bin-line"></i></button>
</a>