{% extends 'base-dashboard.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <div class="post-a-new-job-box">
        <h3>Edit SDG</h3>
        <div class="bar"></div>
        {{ include('categorie/_form.html.twig') }}
    </div>

    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
