{% extends 'base-dashboard.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area">
        <h1>Post a New Job</h1>
        <ol class="breadcrumb">
            <li class="item"><a href="dashboard.html">Home</a></li>
            <li class="item">Post a New Job</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start Post a New Job Area -->
    <div class="post-a-new-job-box">
        <h3>Post Your Job</h3>
        <div class="bar"></div>
            {{ include('categorie/_form.html.twig') }}
    </div>

{% endblock %}
