<a href="#" class="delete-sweetalert" data-id="{{ project.id }}" data-url="{{ path('project_delete', {'id': project.id}) }}">
    <button class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="ri-delete-bin-line"></i></button>
</a>