<div class="job-listing-topper js-filter-sorting">
    <div class="row align-items-center">
        <div class="col-lg-12">
            <div class="job-listing-title">
                <h3><strong>{{ nbProjects }} projects </strong>found</h3>
            </div>
        </div>
    </div>
</div>
