{% extends 'base.html.twig' %}

{% block title %}All projects{% endblock %}

{% block body %}

    <!-- Recent Job Area Two -->
    <div class="inner-banner">
        <div class="container">
            <div class="inner-title text-center">
                <h2>Browse all Projects Posted</h2>
                <div class="bar m-auto"></div>
                <p class="m-auto">Read summaries of the SDG problem-solving projects developed by our program participants!</p>
            </div>
        </div>
    </div>

    <div class="job-listing-area pt-50 pb-70">
        <div class="container">
            <div class="job-listing-top">
                {% include 'search/_filter_project.html.twig' %}
            </div>
            <div class="row">
                {% include 'project/_projects.html.twig' %}
            </div>
        </div>
    </div>
    <!-- Recent Job Area Two End -->
    <projects-import></projects-import>
{% endblock %}
