{% extends 'base.html.twig' %}

{% block title %}All projects{% endblock %}

{% block body %}

    <!-- Recent Job Area Two -->
    <div class="inner-banner">
        <div class="container">
            <div class="inner-title text-center">
                <h2>Browse all projects</h2>
                <div class="bar m-auto"></div>
                <p class="m-auto">Read summaries of the SDG problem-solving projects developed by our program participants!</p>
            </div>
        </div>
    </div>

    <div class="job-listing-area pt-100 pb-70">
        <div class="container js-filter jobs">
            <div class="row">
                <div class="col-lg-4">
                    {% include 'search/_filter_project.html.twig' with {form: form} only %}
                </div>
                <div class="col-lg-8">
                    {% if  projects|length > 0 %}
                        {% include 'project/_sorting.html.twig' %}
                    {% endif %}
                    <div class="row pt-45 js-filter-content">
                        {% include 'project/_projects.html.twig' %}
                    </div>
                    <div class="js-filter-pagination"
                        {% if projects|length == 0 %}
                        style="display: none;"
                        {% endif %}
                        >
                        {% include 'project/_pagination.html.twig' %}
                    </div>
                    <div class="row js-filter-error"
                            {% if projects|length > 0%}
                                style="display: none;"
                            {% endif %}
                    >
                        No result
                    </div>

                    {#<div class="browse-btn">
                        <a href="job-listing.html"> Browse All Categories <i class="ri-arrow-right-s-line"></i></a>
                    </div>#}
                </div>
            </div>
        </div>
    </div>
    <!-- Recent Job Area Two End -->

{% endblock %}
