{% extends 'base-dashboard.html.twig' %}

{% block title %}Edit Projects{% endblock %}

{% block body %}

    <div class="post-a-new-job-box">
        <h3>Edit Projects</h3>
        <div class="bar"></div>
        {{ include('project/_form.html.twig') }}
    </div>
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
