{% extends 'base-dashboard.html.twig' %}

{% block title %}New Projects{% endblock %}

{% block body %}
    <!-- Start Post a New Job Area -->
    <div class="post-a-new-job-box">
        <h3>Post new project</h3>
        <div class="bar"></div>
        {{ include('project/_form.html.twig') }}
    </div>
{% endblock %}
