{% extends 'base-dashboard.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <!-- Start Post a New Job Area -->
    <div class="post-a-new-job-box">
        <h3>Post New Project</h3>
        <div class="bar"></div>
        {{ include('project/_form.html.twig') }}
    </div>
{% endblock %}
